<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if poll_list %}
        {% for poll in poll_list %}
            {{ poll.question_text }}
            
        {% endfor %}
        <a href="{% url 'poll:new' %}">Add a New Poll</a>
        
    {% else %}
        <p>There are no polls yet. <a href="{% url 'poll:new' %}">Create your first poll</a></p>
    {% endif %}
    
</body>
</html>